@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

body {
  background: #0b090a;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.buttons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 400px;
    height: 300px;
  }
  .btn {
    font-family: 'Noto Sans', sans-serif;
    cursor: pointer;
    box-shadow: -1px 3px 3px 0 #ffea00;
    width: 155px;
    height: 50px;
    padding: 17px;
    border: none;
    border-radius: 30px;
    margin: 0 10px 40px;
    color: #10002b;
    font-weight: bold;
    flex: 0 0 auto;
  }
  .btn-1 {
    background: #e36414;
    transition: all 0.25s ease-out;
  }
  
  .btn-1:hover {
    position: relative;
    top: -3px;
    box-shadow: -6px 14px 12px 2px #ffff3f;
  }